@import "tailwindcss";
/* Hide scrollbar for Webkit browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
